* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  background-color: #d1cfcf;
}
.all-aitems {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr minmax(250px, 1.25fr);
  grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr 6fr;
  grid-template-areas:
    "header-right header-left"
    "standard history"
    "calculator history"
    "memory-btn history"
    "keys history";
}
.header-right {
  grid-area: header-right;
  display: flex;
  justify-content: flex-start;
  margin: 5px;
  font-size: small;
  font-family: "Segoe UI";
}
.header-left {
  grid-area: header-left;
  display: flex;
  justify-content: flex-end;
  gap: 0px;
  font-size: larger;
}
.times:hover {
  background-color: red;
}
.minus:hover {
  background-color: darkgray;
}
.square:hover {
  background-color: darkgray;
}
.times:active {
  background-color: darkred;
}
.minus:active {
  background-color: dimgrey;
}
.square:active {
  background-color: dimgrey;
}
.times,
.minus,
.square {
  display: flex;
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 20px;
  transition: background-color 0.2s, transform 0.3s;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}
.square {
  padding-bottom: 4px;
}
.size-6 {
  width: 20px;
  height: 20px;
  justify-content: flex-start;
  font-size: larger;
  position: absolute;
  top: 32px;
  left: 5px;
  font-size: xx-large;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: -7px;
  box-sizing: content-box;
  transition: all 0.2s ease-in-out;
}
.size-6:hover {
  background-color: #c9c5c5;
  border-radius: 3px;
  cursor: pointer;
}
.size-6:active {
  background-color: dimgray;
}
.standard {
  grid-area: standard;
  display: flex;
  padding-left: 40px;
  padding-top: 1px;
  font-size: large;
  font-weight: 500;
  font-family: "Segoe UI";
}
.size-7 {
  width: 24px;
  height: 28px;
  margin-left: 10px;
  margin-top: -4px;
}
.history {
  grid-area: history;
  margin-top: 0px;
  margin-left: 10px;
  font-family: Segoe UI;
}
.left-text {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.his-btn:hover {
  color: gray;
  transition: all ease 0.2s;
}
.mem-btn:hover {
  color: gray;
  transition: all ease 0.2s;
}

.his-btn {
  border-bottom: 3px solid rgb(228, 137, 19);
  padding-bottom: 5px;
}

.calculator {
  grid-area: calculator;
  display: flex;
  justify-content: flex-end;
  font-size: xx-large;
  align-items: flex-end;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.memory-btn {
  display: flex;
  padding-bottom: 48px;
  font-family: Segoe UI;
  font-weight: 600;
  width: max(100%, 6%);
}

.memory {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  width: 8%;
  height: 45px;
  padding: 10px;
  font-weight: 600;
  font-style: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.2s ease-in-out;
}

.memory-1 {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 8%;
  height: 45px;
  color: rgb(167, 174, 175);
  padding: 10px;
  font-weight: bolder;
  font-style: normal;
  font-family: var(--font-family);
}

.memory:hover {
  background-color: #c9c5c5;
}
.memory:active {
  background-color: gray;
}

.keys {
  grid-area: keys;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  min-width: 200px;
  gap: 2px;
}
.sighn {
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.sighn sup {
  font-size: small;
  align-self: flex-start;
  margin-top: 26px;
}
.number1 {
  margin-bottom: 7px;
  margin-right: -2px;
  font-size: x-small;
}
.sighn-b {
  margin-bottom: 11px;
  margin-right: px;
}
.number {
  width: 100%;
  height: 100%;
  font-size: x-large;
  font-weight: 600;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.2s ease-in-out;
}

.sighn:hover {
  background-color: #d3d3d3;
}
.sighn:active {
  background-color: darkgray;
}
.number:hover {
  background-color: #d3d3d3;
}
.number:active {
  background-color: darkgray;
}
.size-7 {
  width: 23px;
  height: 30px;
}
