* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  background-color: #d1cfcf;
}
.all-aitems {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr minmax(300px, 1.5fr);
  grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr 4.85fr;
  grid-template-areas:
    "header header"
    "standard history"
    "calculator history"
    "memory-btn history"
    "keys history";
}

.header{
  grid-area: header;
  display: flex;
    justify-content: space-between;
}
.header-right {
  margin: 8px;
  font-size: small;
  font-family: "Segoe UI"
  
}
.header-left {
  /* grid-area: header-left; */
  display: flex;
  justify-content: flex-end;
 
  font-size: larger;
}
.times:hover {
  background-color: red;
  cursor: pointer;
}
.minus:hover {
  background-color: darkgray;
  cursor: pointer;
}
.square:hover {
  background-color: darkgray;
  cursor: pointer;
}
.times:active {
  background-color: darkred;
}
.minus:active {
  background-color: rgb(160, 157, 157);
}
.square:active {
  background-color: rgb(160, 157, 157);
}
.times,
.minus,
.square {
  display: flex;
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 20px;
  transition: background-color 0.2s, transform 0.3s;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}
.square {
  padding-bottom: 4px;
}
.size-6 {
  width: 20px;
  height: 20px;
  justify-content: flex-start;
  font-size: larger;
  position: absolute;
  top: 34px;
  left: 5px;
  font-size: xx-large;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: -7px;
  box-sizing: content-box;
  transition: all 0.2s ease-in-out;
}
.size-6:hover {
  background-color: #c9c5c5;
  border-radius: 3px;
  cursor: pointer;
}
.size-6:active {
  background-color: rgb(180, 177, 177);
}
.standard {
  grid-area: standard;
  display: flex;
  padding-left: 40px;
  padding-top: 1px;
  font-size: large;
  font-weight: 500;
  font-family: "Segoe UI";
}
.size-8 {
  width: 24px;
  height: 28px;
  margin-left: 10px;
  margin-top: -4px;
}
.history {
  grid-area: history;
  margin-top: 0px;
  margin-left: 10px;
  font-family: Segoe UI;
}
.left-text {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.his-btn:hover {
  color: gray;
}
.mem-btn:hover {
  color: gray;
}

.his-btn {
  border-bottom: 3px solid rgb(228, 137, 19);
  padding-bottom: 5px;
  transition: all ease 0.2s;
}
.mem-btn {
  transition: all ease 0.2s;
}

.calculator {
  grid-area: calculator;
  display: flex;
  justify-content: flex-end;
  font-size: xx-large;
  align-items: flex-end;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.memory-btn {
  display: flex;
  padding-bottom: 48px;
  font-family: Segoe UI;
  font-weight: 600;
  max-width: 400px;
}

.memory {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  width: 8%;
  height: 45px;
  padding: 10px;
  font-weight: 600;
  font-style: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.2s ease-in-out;
  width: 40%;
}

.memory-1 {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 8%;
  height: 45px;
  color: rgb(135, 145, 145);
  padding: 10px;
  font-weight: 600;
  font-style: normal;
  font-family: var(--font-family);
  width: 45%;
}

.memory:hover {
  background-color: #c9c5c5;
}
.memory:active {
  background-color:rgb(177, 174, 174);
}

.keys {
  grid-area: keys;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  min-width: 200px;
  gap: 2px;
}
.sighn {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.sighn sup {
  font-size: small;
  align-self: flex-start;
  margin-top: 26px;
}
.number1 {
  margin-bottom: 7px;
  margin-right: -2px;
  font-size: x-small;
}

.number {
  width: 100%;
  height: 100%;
  font-size: x-large;
  font-weight: 600;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.2s ease-in-out;
}

.sighn:hover {
  background-color: #d3d3d3;
}
.sighn:active {
  background-color: rgb(202, 199, 199);
}
.number:hover {
  background-color: #d3d3d3;
}
.number:active {
  background-color: rgb(202, 199, 199);
}
.size-7 {
  width: 23px;
  height: 30px;
  margin: 10px;
}
@media (max-width:1024px)
{
 .keys{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-template-rows: repeat(6 , 1fr);
  grid-template-areas: 
  "num1 num6 num11 num21"
  "num2 num3 num4 num5"
  "num7 num8 num9 num10"
  "num12 num13 num14 num15"
  "num17 num18 num19 num20"
  "num22 num23 num24 num25";
 }
 .num16{
  display: none;
 }
 .num1{
  grid-area: num1;
 }
 .num2{
  grid-area: num2;
 }
 .num3{
  grid-area: num3;
 }
 .num4{
  grid-area: num4;
 }
 .num5{
  grid-area: num5;
 }
 .num6{
  grid-area: num6;
 }
 .num7{
  grid-area: num7;
 }
 .num8{
  grid-area: num8;
 }
 .num9{
  grid-area: num9;
 }
 .num10{
  grid-area: num10;
 }
 .num11{
  grid-area: num11;
 }
 .num12{
  grid-area: num12;
 }
 .num13{
  grid-area: num13;
 }
 .num14{
  grid-area: num14;
 }
 .num15{
  grid-area: num15;
 }
 .num17{
  grid-area: num17;
 }
 .num18{
  grid-area: num18;
 }
 .num19{
  grid-area: num19;
 }
 .num20{
  grid-area: num20;
 }
 .num21{
  grid-area: num21;
 }
 .num22{
  grid-area: num22;
 }
 .num23{
  grid-area: num23;
 }
 .num24{
  grid-area: num24;
 }
 .num25{
  grid-area: num25;
 }
 
}
@media (max-width:550px) {
  .body{
    overflow: auto;
  }
 .history{
  display: none;
 }
 .all-aitems{
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows:0.5fr 0.5fr 2fr 0.5fr 4.85fr;
  
 }
 .header-right{
  grid-area: header-right;
 }
 .standard{
  grid-area: standard;
 }
 .calculator{
  grid-area: calculator;
 }
 .memory-btn{
  grid-area: memory-btn;
 }
 .keys{
  grid-area: keys;
  margin-bottom: 0;
 }
}